body {
  padding-top: 60px;
  margin-bottom: 50px;
}

.recipe-block{
  border-radius: 5px;
  border: 1px solid #999;
  margin-top: 15px;
  padding: 15px;
}

.recipe-bloc h2 a{
  color: black;
}

.food-img{
  height: 200px;
  max-width: 100%;
}

.recipe-block-footer{
  font-size: 16px;
}

.card-top{
  height: 30px;
}
.card-top .item{
  margin-right: 15px;
  float: left;
}

.pageination-container{
    margin-top: 10px;
    text-align: center;
}
