{% load static i18n %}
<!DOCTYPE html>

{% spaceless %}
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% trans "Recipe Project" %}{% endblock %}</title>
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/custom.css' %}" rel="stylesheet">

      {% block extra_head %}{% endblock %}
    </head>

    <body>
      {% include "navbar.html" %}

      <div class="container">
        <div class="col-md-12">
          {% block content %}{% endblock %}
        </div>
      </div>

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      {% block extra_js %}{% endblock %}

    </body>
  </html>
{% endspaceless %}
