{% load i18n %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{% trans "Toggle navigation"  %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{% trans "Recipe.com"  %}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'new_recipe' %} ">{% trans "Share a Recipe"  %}</a></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        {% if request.user.is_authenticated  %}
          <li><a href="{% url 'logout' %}">({{ request.user }}){% trans "Log Out"  %}</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">{% trans "Login"  %}</a></li>
          <li><a href="{% url 'signup' %}">{% trans "Signup"  %}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
