{% extends 'base.html' %}
{% load i18n %}


{% block content %}
  <div class="col-md-8">
    {% for recipe in recipes %}
      <div class="recipe-block">
        <h2><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe }}</a></h2>
        <img class="food-img" alt="{{ recipe }}" src="{{ recipe.image.url }}"/>

        <p>{{ recipe.description | truncatechars:200}}</p>

        <div class="recipe-block-footer">
          {{ recipe.create_time | date:"d/m/Y"  }} . {{ recipe.rate_avg }}/5 ({{ recipe.rate_count }}) . {{ recipe.like_count }} {% trans "likes . by"  %} {{ recipe.author }}
          {% if recipe.author == request.user%}
            <a href="{% url 'update_recipe' pk=recipe.pk %}">{% trans "Edit"  %}</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <div class="pageination-container">
      {% if recipes.has_previous %}
        <a href="?page={{ recipes.previous_page_number }}{% if request.GET.q %}&&q={{ request.GET.q }}{% endif %}">
          <button class="btn btn-default">
            {% trans "Previous Page"  %}
          </button>
        </a>
      {% endif %}

      {% if recipes.has_next %}
        <a href="
                 ?page={{ recipes.next_page_number }}{% if request.GET.q %}&&q={{ request.GET.q }}{% endif %}
                 ">
          <button class="btn btn-default">
            {% trans "Next Page"  %}
          </button>
        </a>
      {% endif %}

      <p class="current">
        {% trans "Page"  %} {{ recipes.number }} {% trans "of"  %} {{ recipes.paginator.num_pages }}.
      </p>
    </div>

  </div>


  <div class="col-md-4">
    <div class="recipe-block">
      <h3>{% trans "Search"  %}</h3>

      <form action="{% url 'search' %}" method="get">
        <input type="text" name ="q"  placeholder="egg, potato ...." value="{{request.GET.q}}"></input>
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
      <br>
      <p>{% trans "Search ingradients between comma "  %}</p>
      <p>{% trans "(eg. \"egg, potato\" will get if recipe has egg and potato <b>same</b> time)"  %}</p>
      <p>{% trans "If not find any recipe, search from in title and content."  %}</p>
    </div>

    <div class="recipe-block">
      <h3>{% trans "Top Used Ingredients"  %}</h3>
      <ul>
        {% for ingredient in most_used_ingredients %}
          {% if ingredient.total %}
            <li>
              <a href="{% url "ingradient" pk=ingredient.ingredients__pk %}">
                {{ ingredient.ingredients__ingredient }}
              </a>({{ ingredient.total }})

            </li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>
  
{% endblock %}

{% block extra_js %}
{% endblock %}
