{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>{% trans "Are you sure you want to delete?"  %}</p>
    <input type="submit" value="Delete">
  </form>
{% endblock %}

