{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
  {{ recepie }}
{% endblock %}

{% block content %}
  
  <h1>{{ recipe }}</h1>
  
  <div class="card-top">
    <div class="item">
      <img alt="" src="{% static 'img/knife.png' %}"/>
      {{ recipe.author }}
    </div>
    <div class="item">
      <img alt="" src="{% static 'img/muscles.png' %}"/>
      {{ recipe.get_difficulty_display }}
    </div>
    <div class="item">
      <img alt="" src="{% static 'img/circular-clock.png' %}"/>
      {{ recipe.create_time|date:"d/m/Y"  }}
    </div>
  </div>
  {% if recipe.author == request.user%}
    <a href="{% url 'update_recipe' pk=recipe.pk %}">Edit the recipe</a>
    <br>
    <a href="{% url 'delete_recipe' pk=recipe.pk %}">Delete</a>
  {% endif %}
  <br/>

  <p>
    <img class="food-img" alt="{{ recipe }}" src="{{ recipe.image.url }}"/>
  </p>

  {% if request.user.is_authenticated  %}
    <a href="{% url 'like' pk=recipe.pk %}">
      <button type="button" class="btn btn-success">
        {% if is_liked %}
          {% trans "You Have Liked"  %} ({{ recipe.like_count }})
        {% else %}
          {% trans "Like"  %} ({{ recipe.like_count }})
        {% endif %}
      </button>
    </a>
  {% endif %}

  <h2>
    {% trans "Ingredients"  %}
  </h2>
  <ul>
    {% for ingredient in recipe.ingredients.all %}
      <li>
        {{ ingredient }}
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% trans "Description"  %}
  </h2>
  <p>
    {{ recipe.description }}
  </p>
  <br>

  {% if request.user.is_authenticated  %}
    <form action="{% url 'rate' pk=recipe.pk %}" method="post">
      {% csrf_token %}
      {% if is_rated %}
        {% trans "You have rated"  %} ({{rate_point}})
      {% endif %}
      <select name="rate" class="form-control" style="width:50px;">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      
      <input class="btn btn-primary" type="submit"
        value="
                    {% if is_rated %}
                    Rate Again
                    {% else %}
                    Rate
                    {% endif %}
                    ">
    </form>
  {% endif %}




{% endblock %}
