{% extends 'base.html' %}

{% block content %}
  <h2>SignUp</h2>
  <form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Share The Recipe</button>
  </form>

{% endblock %}
