{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h2>{% trans "Sign Up"  %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">{% trans "Sign Up"  %}</button>
  </form>
  <p>
    {% trans "--or--"  %}
  </p>

  <button class="btn btn-alert" type="submit">
    <a href="{% url 'login' %}">{% trans "Login"  %}</a>
  </button>

{% endblock %}
